body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Space Grotesk", sans-serif;
}

h2,
h3 {
  font-family: "JetBrains Mono", monospace;
}

a #hover {
  color: black;
}

a {
  color: black;
}
